<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-alert
  [isOpen]="isAlertOpen"
  header="Alert"
  subHeader="Login"
  message="{{alertMessage}}"
  [buttons]="alertButtons"
  (didDismiss)="returnToLogin()"
></ion-alert>

<ion-content [fullscreen]="true">
  <ion-input type="email" [(ngModel)]="email" placeholder="email"></ion-input>
  <ion-input type="password" [(ngModel)]="password" placeholder="password"></ion-input>
  <ion-button color="primary" (click)="logMeIn()">Login</ion-button>
</ion-content>
