<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div>
        <ion-menu-toggle>
        <ion-item>
          <ion-icon name="star" slot="start"></ion-icon>
          <ion-label [routerLink]="['/attendance']">Attendance</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label [routerLink]="['/product']">Product</ion-label>
        </ion-item>        
        <ion-item>
          <ion-icon name="accessibility-outline" slot="start"></ion-icon>
          <ion-label [routerLink]="['/staff']">Manage Staff</ion-label>
        </ion-item>
        <ion-item >
          <ion-icon name="finger-print-outline" slot="start"></ion-icon>
          <ion-label [routerLink]="['/login']">Login</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-icon name="power-outline" slot="start"></ion-icon>
          <ion-label (click)="logOut()">Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </div>    
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
