<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<h1>{{user}}</h1>
<ion-card>
  <ion-card-header color="secondary">
    <ion-card-title>Capture Attendance</ion-card-title>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
  </ion-card-header>

  <ion-card-content>
    {{curr_time | date:"short"}} - {{curr_time | date:"cccc"}}
  </ion-card-content>

  <ion-button color="primary" (click)="captureAttendance()">Punch In</ion-button>
  <!-- <ion-button color="warning">Punch Out</ion-button> -->
</ion-card>

  <ion-list>
    <!-- <ion-item *ngFor="let item of attendances">
      <ion-label>{{item}}</ion-label>
    </ion-item> -->
    <div *ngFor="let item of attendances">
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="success">Approve</ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label>{{item}}</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="warning">Punch Out</ion-item-option>
          <ion-item-option color="danger">Reject</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>

  </ion-list>
</ion-content>
