<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>My Product</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Product Name" placeholder="Please enter product name"></ion-input>
  </ion-item>
  <ion-button color="secondary">Search</ion-button>
  <ion-button color="success">Add</ion-button>
  <ion-button color="danger">Reset</ion-button>

  <ion-card *ngIf="showDetail" id="proddetail">
    <img alt="{{prodDetail['title']}}" src="{{prodDetail['image']}}" height="150px" />
    <ion-card-header>
      <ion-card-title>{{prodDetail['title']}}</ion-card-title>
      <ion-card-subtitle>{{prodDetail['price']}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{prodDetail['description']}}
      <ion-button color="danger" (click)="showDetail =false; showList=true">Close</ion-button>
    </ion-card-content>
    
  </ion-card>
<div [hidden]="!showList">
<!-- <div *ngIf="showList"> -->
  <ion-list>
    <div *ngFor="let item of products">
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="success">Add Cart</ion-item-option>
        </ion-item-options>
    
        <ion-item>
          <ion-label href="#proddetail" (click)="viewDetail(item['id'])">{{item['title']}}</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option>Favorite</ion-item-option>
          <ion-item-option color="danger">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
    
  </ion-list>
</div>

</ion-content>
