<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Manage Staff</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-alert
  [isOpen]="isAlertOpen"
  header="Alert"
  subHeader="Login"
  message="{{alertMessage}}"
  [buttons]="alertButtons"
  (didDismiss)="returnToLogin()"
></ion-alert> -->

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Staff Name" [(ngModel)]="search_username" placeholder="Please enter staff name"></ion-input>
  </ion-item>
  <ion-button color="secondary" (click)="getData()">Search</ion-button>
  <ion-button color="success" (click)="showAddUser=true;newUser=true;username='';email='';password=''">Add</ion-button>
  <ion-button color="danger" (click)="getData(true)">Reset</ion-button>
  <!-- {{proxy}}<ion-input [(ngModel)]="proxy"></ion-input>
  <ion-button (click)="reconnect()" color="danger">Reconnect</ion-button> -->
  <ion-list *ngIf="showAddUser">
    <ion-list-header color="primary">
      <ion-label>Manage Staff</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input type="text" [(ngModel)]="username" label="Username" placeholder="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" [(ngModel)]="email" label="Email" placeholder="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" [(ngModel)]="password" label="Password" placeholder="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button size="default" *ngIf="newUser" color="primary" (click)="addUser()">Add Staff</ion-button>
      <ion-button size="default" *ngIf="!newUser" color="success" (click)="updateStaff()">Update Staff</ion-button>
    </ion-item>
</ion-list>

  <ion-list *ngIf="showList">
    <div *ngFor="let item of person">
      <ion-item-sliding>
        <ion-item>
          <ion-label (click)="retrieveStaff(item['id'])" >{{item['username']}}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteUser(item['id'])">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>

</ion-content>
